[Desktop Entry]
Name=Mula Touch Player
GenericName=Mula Touch Player Launcher
Exec=mula_touchplayer
Icon=mula-touchplayer
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
