[Desktop Entry]
Name=Mula Plasmoid Frontend
Name[es]=Interfaz del plasmoide de Mula
Name[et]=Mula plasmoidist kasutajaliides
Name[fr]=Interface du composant graphique Mula
Name[ga]=Comhéadan ar Phlasmóid Mula
Name[gl]=Interface plasmoide para Mula
Name[hu]=Mula plazmoid felület
Name[it]=Interfaccia plasmoide di Mula
Name[km]=កម្មវិធី​ផ្នែក​ខាង​មុខ Mula Plasmoid
Name[nl]=Plasmoid-schil voor Mula
Name[pl]=Nakładka Plazmoid Mula
Name[pt]=Interface de Plasmóide do Mula
Name[pt_BR]=Interface de plasmoide do Mula
Name[sv]=Mula Plasmoid-gränssnitt
Name[uk]=Оболонка плазмоїда Mula
Name[x-test]=xxMula Plasmoid Frontendxx
Comment=Mula Plasmoid Frontend
Comment[es]=Interfaz del plasmoide de Mula
Comment[et]=Mula plasmoidist kasutajaliides
Comment[fr]=Interface du composant graphique Mula
Comment[ga]=Comhéadan ar Phlasmóid Mula
Comment[gl]=Interface plasmoide para Mula
Comment[hu]=Mula plazmoid felület
Comment[it]=Interfaccia plasmoide di Mula
Comment[km]=កម្មវិធី​ផ្នែក​ខាង​មុខ Mula Plasmoid
Comment[nl]=Plasmoid-schil voor Mula
Comment[pl]=Nakładka Plazmoid Mula
Comment[pt]=Interface de Plasmóide do Mula
Comment[pt_BR]=Interface de plasmoide do Mula
Comment[sv]=Mula Plasmoid-gränssnitt
Comment[uk]=Оболонка плазмоїда Mula
Comment[x-test]=xxMula Plasmoid Frontendxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_mulafrontend
X-KDE-PluginInfo-Author=Laszlo Papp
X-KDE-PluginInfo-Email=lpapp@kde.org
X-KDE-PluginInfo-Name=org.kde.mulafrontend
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utils
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
