[Desktop Entry]
Name=Mula
Name[bs]=Mula
Name[cs]=Mula
Name[de]=Mula
Name[es]=Mula
Name[et]=Mula
Name[fi]=Mula
Name[fr]=Mula
Name[ga]=Mula
Name[gl]=Mula
Name[hu]=Mula
Name[it]=Mula
Name[km]=Mula
Name[mr]=मुला
Name[nl]=Mula
Name[pl]=Mula
Name[pt]=Mula
Name[pt_BR]=Mula
Name[sk]=Mula
Name[sv]=Mula
Name[tr]=Mula
Name[uk]=Mula
Name[x-test]=xxMulaxx
GenericName=Mula Launcher
GenericName[bs]=Mula pokretač
GenericName[cs]=Spouštěč Mula
GenericName[de]=Mula-Starter
GenericName[es]=Lanzador de Mula
GenericName[et]=Mula käivitaja
GenericName[fi]=Mula-käynnistin
GenericName[fr]=Lanceur pour Mula
GenericName[ga]=Tosaitheoir Mula
GenericName[gl]=Lanzador de Mula
GenericName[hu]=Mula indító
GenericName[it]=Avviatore di Mula
GenericName[km]=កម្មវិធី​ចាប់ផ្ដើម Mula
GenericName[mr]=मुला प्रक्षेपक
GenericName[nl]=Procestarter voor Mula
GenericName[pl]=Aktywator Mula
GenericName[pt]=Lançamento do Mula
GenericName[pt_BR]=Lançador do Mula
GenericName[sk]=Spúšťač Mula
GenericName[sv]=Startprogram för Mula
GenericName[tr]=Mula Çalıştırıcı
GenericName[uk]=Інструмент запуску Mula
GenericName[x-test]=xxMula Launcherxx
Exec=mula-harmattan
Icon=mula-harmattan
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
