[Desktop Entry]
Name=Mula
Name[es]=Mula
Name[ga]=Mula
Name[hu]=Mula
Name[nl]=Mula
Name[pl]=Mula
Name[pt]=Mula
Name[pt_BR]=Mula
Name[sv]=Mula
Name[uk]=Mula
Name[x-test]=xxMulaxx
GenericName=Mula Launcher
GenericName[es]=Lanzador de Mula
GenericName[ga]=Tosaitheoir Mula
GenericName[hu]=Mula indító
GenericName[nl]=Procestarter voor Mula
GenericName[pl]=Aktywator Mula
GenericName[pt]=Lançamento do Mula
GenericName[pt_BR]=Lançador do Mula
GenericName[sv]=Startprogram för Mula
GenericName[uk]=Інструмент запуску Mula
GenericName[x-test]=xxMula Launcherxx
Exec=mula-harmattan
Icon=mula-harmattan
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
