[Desktop Entry]
Name=Mula KDE Extended Frontend
GenericName=Mula KDE Extended Frontend Launcher
Exec=mula_kdeextfrontend
Icon=mula-kdeextfrontend
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
