[Desktop Entry]
Name=Mula
Name[es]=Reproductor Mula Touch
Name[nl]=Aanraakafspeler voor Mula
Name[pl]=Odtwarzacz dotykowy Mula
Name[pt]=Leitor por Toque Mula
Name[pt_BR]=Reprodutor sensível ao toque Mula
Name[sv]=Mula pekspelare
Name[uk]=Сенсорний програвач Mula
Name[x-test]=xxMula Touch Playerxx
GenericName=Mula Launcher
GenericName[es]=Lanzador del reproductor Mula Touch
GenericName[nl]=Procestarter van aanraakafspeler voor Mula
GenericName[pl]=Uruchamianie odtwarzacza dotykowego Mula
GenericName[pt]=Lançamento do Leitor por Toque Mula
GenericName[pt_BR]=Lançamento do reprodutor sensível ao toque do Mula
GenericName[sv]=Startprogram för Mula pekspelare
GenericName[uk]=Інструмент запуску сенсорного програвача Mula
GenericName[x-test]=xxMula Touch Player Launcherxx
Exec=mula-fremantle
Icon=mula-fremantle
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
