[Desktop Entry]
Name=Mula Qt Frontend
GenericName=Mula Qt Frontend Launcher
Exec=mula_qtfrontend
Icon=mula-qtfrontend
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
