[Desktop Entry]
Name=Mula
Name[pt]=Mula
Name[pt_BR]=Mula
Name[sv]=Mula
Name[uk]=Mula
Name[x-test]=xxMulaxx
GenericName=Mula Launcher
GenericName[pt]=Lançamento do Mula
GenericName[pt_BR]=Lançador do Mula
GenericName[sv]=Startprogram för Mula
GenericName[uk]=Інструмент запуску Mula
GenericName[x-test]=xxMula Launcherxx
Exec=mula-desktop
Icon=mula-desktop
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
