[Desktop Entry]
Name=Mula
Name[es]=Mula
Name[et]=Mula
Name[fr]=Mula
Name[ga]=Mula
Name[gl]=Mula
Name[hu]=Mula
Name[it]=Mula
Name[km]=Mula
Name[nl]=Mula
Name[pl]=Mula
Name[pt]=Mula
Name[pt_BR]=Mula
Name[sk]=Mula
Name[sv]=Mula
Name[uk]=Mula
Name[x-test]=xxMulaxx
GenericName=Mula Launcher
GenericName[es]=Lanzador de Mula
GenericName[et]=Mula käivitaja
GenericName[fr]=Lanceur pour Mula
GenericName[ga]=Tosaitheoir Mula
GenericName[gl]=Lanzador de Mula
GenericName[hu]=Mula indító
GenericName[it]=Avviatore di Mula
GenericName[km]=កម្មវិធី​ចាប់ផ្ដើម Mula
GenericName[nl]=Procestarter voor Mula
GenericName[pl]=Aktywator Mula
GenericName[pt]=Lançamento do Mula
GenericName[pt_BR]=Lançador do Mula
GenericName[sk]=Spúšťač Mula
GenericName[sv]=Startprogram för Mula
GenericName[uk]=Інструмент запуску Mula
GenericName[x-test]=xxMula Launcherxx
Exec=mula-desktop
Icon=mula-desktop
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
