[Desktop Entry]
Name=Mula
Name[es]=Interfaz de Qt de Mula
Name[nl]=Qt-schil voor Mula
Name[pl]=Nakładka Qt Mula
Name[pt]=Interface Qt do Mula
Name[pt_BR]=Interface do Mula para o Qt
Name[sv]=Mula Qt-gränssnitt
Name[uk]=Оболонка Mula на основі Qt
Name[x-test]=xxMula Qt Frontendxx
GenericName=Mula Launcher
GenericName[es]=Lanzador del interfaz Qt de Mula
GenericName[nl]=Procestarter van Qt-schil voor Mula
GenericName[pl]=Uruchamianie nakładki Qt Mula
GenericName[pt]=Lançamento da Interface Qt do Mula
GenericName[pt_BR]=Lançamento da interface do Mula para o Qt
GenericName[sv]=Startprogram för Mula Qt-gränssnitt
GenericName[uk]=Інструмент запуску оболонки Mula для Qt
GenericName[x-test]=xxMula Qt Frontend Launcherxx
Exec=mula-desktop
Icon=mula-desktop
Type=Application
Categories=Qt;KDE;Edu;
Terminal=false
