[Desktop Entry]
Name=Mula KDE Frontend
GenericName=Mula KDE Frontend Launcher
Exec=mula_kdefrontend
Icon=mula-kdefrontend
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
